.main-container {
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    .main-container {
      padding: 15px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .card-header {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
  }
  
  .card-body {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  button {
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  .form-control {
    border-radius: 20px;
    padding-left: 20px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #007bff;
  }
  
  .form-check-input:checked ~ .form-check-label::before {
    border-color: #007bff;
    background-color: #007bff;
  }
  