.jobseeker-menu {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .jobseeker-menu h2 {
    margin-bottom: 20px;
  }
  
  .jobseeker-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .jobseeker-menu li {
    margin-bottom: 10px;
  }
  
  .jobseeker-menu a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  
  .jobseeker-menu a:hover {
    background-color: black;
  }
  